In [2]:
# pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.29-cp38-cp38-win_amd64.whl (7.7 MB)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\addep\anaconda3\lib\site-packages (from mysql-connector-python) (3.14.0)
Requirement already satisfied: six>=1.9 in c:\users\addep\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.29
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector
import pandas as pd

In [2]:
connection = mysql.connector.connect(host='localhost',user='root',password='Efgeghnlrtq@123')

In [3]:
cursor = connection.cursor()

In [6]:
cursor.execute('CREATE DATABASE BANK_PROJ')

In [7]:
cursor.execute('USE BANK_PROJ')

In [11]:
create_query_BANK_DETAILS = '''
CREATE TABLE BANK_DETAILS
(
BID VARCHAR(20) PRIMARY KEY,
BNAME VARCHAR(50)
)
'''

In [14]:
create_query_CUSTOMERS = '''
CREATE TABLE CUSTOMERS(
CID INT PRIMARY KEY AUTO_INCREMENT ,
CNAME VARCHAR(30),
CTYPE ENUM( "C" , "R") ,
ACC_NO BIGINT  ,
BRID VARCHAR(20) ,
PAR_ACC VARCHAR(30)
) ;
'''

In [15]:
create_query_BRANCH_DETAILS = '''
CREATE TABLE BRANCH_DETAILS (
BRID VARCHAR(20) PRIMARY KEY,
BID VARCHAR(20) ,
BRNAME VARCHAR(30),
BTYPE ENUM("CORPORATE" , "RETAIL")
) ;
'''

In [12]:
cursor.execute(create_query_BANK_DETAILS)

In [16]:
cursor.execute(create_query_CUSTOMERS)CUSTOMERS

In [17]:
cursor.execute(create_query_BRANCH_DETAILS)

In [18]:
insert_query_BANK_DETAILS = '''
INSERT INTO BANK_DETAILS VALUES (%s,%s);
'''

In [19]:
df = pd.read_excel('BANK_DETAILS.xlsx')
l = [tuple(i) for i in df.values]
l

[('HDFC', 'HDFC BANK'),
 ('ICICI ', 'ICICI BANK'),
 ('AXIS', 'AXIS BANK'),
 ('KOTAK', 'KOTAK'),
 ('SBI', 'SBI')]

In [21]:
cursor.executemany(insert_query_BANK_DETAILS,l)

In [35]:
cursor.execute('SELECT * FROM BANK_DETAILS')
records = cursor.fetchall()
print(cursor.column_names)
for i in records:
    print(i)

('BID', 'BNAME')
('AXIS', 'AXIS BANK')
('HDFC', 'HDFC BANK')
('ICICI ', 'ICICI BANK')
('KOTAK', 'KOTAK')
('SBI', 'SBI')

In [36]:
insert_query_CUSTOMERS = '''
INSERT INTO CUSTOMERS VALUES (%s,%s,%s,%s,%s,%s);
'''

In [40]:
df = pd.read_excel('CUSTOMERS.xlsx')
l = [tuple(i) for i in df.values]

In [38]:
cursor.executemany(insert_query_CUSTOMERS,l)

In [39]:
cursor.execute('SELECT * FROM CUSTOMERS')
records = cursor.fetchall()
print(cursor.column_names)
for i in records:
    print(i)

('CID', 'CNAME', 'CTYPE', 'ACC_NO', 'BRID', 'PAR_ACC')
(1001, 'FUTURENSE', 'C', 2000001, 'HDFC_01', 'FUTURENSE')
(1002, 'ABC', 'R', 2000002, 'HDFC_02', 'FUTURENSE')
(1003, 'ABD', 'R', 2000003, 'HDFC_02', 'FUTURENSE')
(1004, 'ABE', 'R', 2000004, 'HDFC_02', 'FUTURENSE')
(1005, 'ACF', 'R', 2000005, 'HDFC_02', 'FUTURENSE')
(1006, 'MILES', 'C', 2000006, 'HDFC_03', 'MILES')
(1007, 'BAA', 'R', 2000007, 'HDFC_04', 'MILES')
(1008, 'BAB', 'R', 2000008, 'HDFC_04', 'MILES')
(1009, 'BAC', 'R', 2000009, 'HDFC_04', 'MILES')
(1010, 'BAD', 'R', 2000010, 'HDFC_04', 'MILES')
(1011, 'MOJO', 'C', 2000011, 'HDFC_05', 'MOJO')
(1012, 'CAA', 'R', 2000012, 'HDFC_06', 'MOJO')
(1013, 'CAB', 'R', 2000013, 'HDFC_06', 'MOJO')
(1014, 'CAC', 'R', 2000014, 'HDFC_06', 'MOJO')
(1015, 'CAD', 'R', 2000015, 'HDFC_06', 'MOJO')
(1016, 'MAJA', 'C', 2000016, 'HDFC_07', 'MAJA')
(1017, 'DAA', 'R', 2000017, 'HDFC_08', 'MAJA')
(1018, 'DAB', 'R', 2000018, 'HDFC_08', 'MAJA')
(1019, 'DAC', 'R', 2000019, 'HDFC_08', 'MAJA')
(1020, 'DAD', 'R', 2000020, 'HDFC_08', 'MAJA')
(1021, 'FUTURENSE', 'C', 2000021, 'ICICI_01', 'FUTURENSE')
(1022, 'EAA', 'R', 2000022, 'ICICI_02', 'FUTURENSE')
(1023, 'EAB', 'R', 2000023, 'ICICI_02', 'FUTURENSE')
(1024, 'EAC', 'R', 2000024, 'ICICI_02', 'FUTURENSE')
(1025, 'EAD', 'R', 2000025, 'ICICI_02', 'FUTURENSE')
(1026, 'MILES', 'C', 2000026, 'ICICI_03', 'MILES')
(1027, 'FAA', 'R', 2000027, 'ICICI_04', 'MILES')
(1028, 'FAB', 'R', 2000028, 'ICICI_04', 'MILES')
(1029, 'FAC', 'R', 2000029, 'ICICI_04', 'MILES')
(1030, 'FAD', 'R', 2000030, 'ICICI_04', 'MILES')
(1031, 'MOJO', 'C', 2000031, 'ICICI_05', 'MOJO')
(1032, 'GAA', 'R', 2000032, 'ICICI_06', 'MOJO')
(1033, 'GAB', 'R', 2000033, 'ICICI_06', 'MOJO')
(1034, 'GAC', 'R', 2000034, 'ICICI_06', 'MOJO')
(1035, 'GAD', 'R', 2000035, 'ICICI_06', 'MOJO')
(1036, 'FUTURENSE', 'C', 2000036, 'AXIS_01', 'FUTURENSE')
(1037, 'HAA', 'R', 2000037, 'AXIS_02', 'FUTURENSE')
(1038, 'HAB', 'R', 2000038, 'AXIS_02', 'FUTURENSE')
(1039, 'HAC', 'R', 2000039, 'AXIS_02', 'FUTURENSE')
(1040, 'HAD', 'R', 2000040, 'AXIS_02', 'FUTURENSE')
(1041, 'MILES', 'C', 2000041, 'AXIS_03', 'MILES')
(1042, 'IAA', 'R', 2000042, 'AXIS_04', 'MILES')
(1043, 'IAB', 'R', 2000043, 'AXIS_04', 'MILES')
(1044, 'IAC', 'R', 2000044, 'AXIS_04', 'MILES')
(1045, 'IAD', 'R', 2000045, 'AXIS_04', 'MILES')
(1046, 'MOJO', 'C', 2000046, 'AXIS_05', 'MOJO')
(1047, 'JAA', 'R', 2000047, 'AXIS_06', 'MOJO')
(1048, 'JAB', 'R', 2000048, 'AXIS_06', 'MOJO')
(1049, 'JAC', 'R', 2000049, 'AXIS_06', 'MOJO')
(1050, 'JAD', 'R', 2000050, 'AXIS_06', 'MOJO')
(1051, 'FUTURENSE', 'C', 2000051, 'KOTAK_01', 'FUTURENSE')
(1052, 'KAA', 'R', 2000052, 'KOTAK_02', 'FUTURENSE')
(1053, 'KAB', 'R', 2000053, 'KOTAK_02', 'FUTURENSE')
(1054, 'KAC', 'R', 2000054, 'KOTAK_02', 'FUTURENSE')
(1055, 'KAD', 'R', 2000055, 'KOTAK_02', 'FUTURENSE')
(1056, 'MILES', 'C', 2000056, 'KOTAK_03', 'MILES')
(1057, 'LAA', 'R', 2000057, 'KOTAK_04', 'MILES')
(1058, 'LAB', 'R', 2000058, 'KOTAK_04', 'MILES')
(1059, 'LAC', 'R', 2000059, 'KOTAK_04', 'MILES')
(1060, 'LAD', 'R', 2000060, 'KOTAK_04', 'MILES')
(1061, 'MOJO', 'C', 2000061, 'KOTAK_05', 'MOJO')
(1062, 'MAA', 'R', 2000062, 'KOTAK_06', 'MOJO')
(1063, 'MAB', 'R', 2000063, 'KOTAK_06', 'MOJO')
(1064, 'MAC', 'R', 2000064, 'KOTAK_06', 'MOJO')
(1065, 'MAD', 'R', 2000065, 'KOTAK_06', 'MOJO')
(1066, 'FUTURENSE', 'C', 2000066, 'SBI_01', 'FUTURENSE')
(1067, 'NAA', 'R', 2000067, 'SBI_02', 'FUTURENSE')
(1068, 'NAB', 'R', 2000068, 'SBI_02', 'FUTURENSE')
(1069, 'NAC', 'R', 2000069, 'SBI_02', 'FUTURENSE')
(1070, 'NAD', 'R', 2000070, 'SBI_02', 'FUTURENSE')
(1071, 'MILES', 'C', 2000071, 'SBI_03', 'MILES')
(1072, 'OAA', 'R', 2000072, 'SBI_04', 'MILES')
(1073, 'OAB', 'R', 2000073, 'SBI_04', 'MILES')
(1074, 'OAC', 'R', 2000074, 'SBI_04', 'MILES')
(1075, 'OAD', 'R', 2000075, 'SBI_04', 'MILES')
(1076, 'MOJO', 'C', 2000076, 'SBI_05', 'MOJO')
(1077, 'PAA', 'R', 2000077, 'SBI_06', 'MOJO')
(1078, 'PAB', 'R', 2000078, 'SBI_06', 'MOJO')
(1079, 'PAC', 'R', 2000079, 'SBI_06', 'MOJO')
(1080, 'PAD', 'R', 2000080, 'SBI_06', 'MOJO')
(1081, 'MAJA', 'C', 2000081, 'SBI_07', 'MAJA')
(1082, 'QAA', 'R', 2000082, 'SBI_08', 'MAJA')
(1083, 'QAB', 'R', 2000083, 'SBI_08', 'MAJA')
(1084, 'QAC', 'R', 2000084, 'SBI_08', 'MAJA')
(1085, 'QAD', 'R', 2000085, 'SBI_08', 'MAJA')
(1086, 'OLA', 'C', 2000086, 'SBI_09', 'OLA')
(1087, 'RAA', 'R', 2000087, 'SBI_10', 'OLA')
(1088, 'RAB', 'R', 2000088, 'SBI_10', 'OLA')
(1089, 'RAC', 'R', 2000089, 'SBI_10', 'OLA')
(1090, 'RAD', 'R', 2000090, 'SBI_10', 'OLA')

In [41]:
insert_query_BANK_DETAILS = '''
INSERT INTO BRANCH_DETAILS VALUES (%s,%s,%s,%s);
'''

In [42]:
df = pd.read_excel('BRANCH_DETAILS.xlsx')
l = [tuple(i) for i in df.values]

In [43]:
cursor.executemany(insert_query_BANK_DETAILS,l)

In [44]:
cursor.execute('SELECT * FROM BRANCH_DETAILS')
records = cursor.fetchall()
print(cursor.column_names)
for i in records:
    print(i)

('BRID', 'BID', 'BRNAME', 'BTYPE')
('AXIS_01', 'AXIS', 'KORAMANGALA', 'CORPORATE')
('AXIS_02', 'AXIS', 'KORAMANGALA', 'RETAIL')
('AXIS_03', 'AXIS', 'SILK BOARD', 'CORPORATE')
('AXIS_04', 'AXIS', 'SILK BOARD', 'RETAIL')
('AXIS_05', 'AXIS', 'MARATHALLI', 'CORPORATE')
('AXIS_06', 'AXIS', 'MARATHALLI', 'RETAIL')
('HDFC_01', 'HDFC', 'KORAMANGALA', 'CORPORATE')
('HDFC_02', 'HDFC', 'KORAMANGALA', 'RETAIL')
('HDFC_03', 'HDFC', 'SILK BOARD', 'CORPORATE')
('HDFC_04', 'HDFC', 'SILK BOARD', 'RETAIL')
('HDFC_05', 'HDFC', 'MARATHALLI', 'CORPORATE')
('HDFC_06', 'HDFC', 'MARATHALLI', 'RETAIL')
('HDFC_07', 'HDFC', 'WHITEFIELD', 'CORPORATE')
('HDFC_08', 'HDFC', 'WHITEFIELD', 'RETAIL')
('ICICI_01', 'ICICI', 'KORAMANGALA', 'CORPORATE')
('ICICI_02', 'ICICI', 'KORAMANGALA', 'RETAIL')
('ICICI_03', 'ICICI', 'SILK BOARD', 'CORPORATE')
('ICICI_04', 'ICICI', 'SILK BOARD', 'RETAIL')
('ICICI_05', 'ICICI', 'MARATHALLI', 'CORPORATE')
('ICICI_06', 'ICICI', 'MARATHALLI', 'RETAIL')
('KOTAK_01', 'KOTAK', 'KORAMANGALA', 'CORPORATE')
('KOTAK_02', 'KOTAK', 'KORAMANGALA', 'RETAIL')
('KOTAK_03', 'KOTAK', 'SILK BOARD', 'CORPORATE')
('KOTAK_04', 'KOTAK', 'SILK BOARD', 'RETAIL')
('KOTAK_05', 'KOTAK', 'MARATHALLI', 'CORPORATE')
('KOTAK_06', 'KOTAK', 'MARATHALLI', 'RETAIL')
('SBI_01', 'SBI', 'KORAMANGALA', 'CORPORATE')
('SBI_02', 'SBI', 'KORAMANGALA', 'RETAIL')
('SBI_03', 'SBI', 'SILK BOARD', 'CORPORATE')
('SBI_04', 'SBI', 'SILK BOARD', 'RETAIL')
('SBI_05', 'SBI', 'MARATHALLI', 'CORPORATE')
('SBI_06', 'SBI', 'MARATHALLI', 'RETAIL')
('SBI_07', 'SBI', 'WHITEFIELD', 'CORPORATE')
('SBI_08', 'SBI', 'WHITEFIELD', 'RETAIL')
('SBI_09', 'SBI', 'INDRA NAGAR', 'CORPORATE')
('SBI_10', 'SBI', 'INDRA NAGAR', 'RETAIL')

In [45]:
connection.commit()

In [46]:
cursor.execute('ALTER TABLE CUSTOMERS ADD FOREIGN KEY (BRID) REFERENCES BRANCH_DETAILS(BRID)')

In [48]:
cursor.execute('SET FOREIGN_KEY_CHECKS=0;')

In [49]:
cursor.execute('ALTER TABLE BRANCH_DETAILS ADD FOREIGN KEY (BID) REFERENCES BANK_DETAILS(BID)')

In [50]:
connection.commit()